<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap">
</head>
<body style="background-color: #112; color: #fff;">

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-1">RENGAW</h1>
            <p class="lead" style="font-family: 'Consolas'; font-size: 1.5em;">
                <span style="color: #FF0000; font-weight: bold;">We get dirty</span>
                <span style="color: #00FF00; font-weight: bold;"> and the world stays clean</span>
            </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12" style="text-align: left; font-family: 'Montserrat'">
            <a th:href="@{/rng/p/}" style="font-size: 25px; color: #F5F5DC;">Personnel</a>
        </div>

        <div class="col-md-12" style="text-align: left; font-family: 'Montserrat'">
            <a th:href="@{/rng/w/}" style="font-size: 25px; color: #F5F5DC;">Weapon</a>
        </div>

        <div class="col-md-12" style="text-align: left; font-family: 'Montserrat'">
            <a href="/p" style="font-size: 25px; color: #F5F5DC;">Equipment</a>
        </div>

        <div class="col-md-12" style="text-align: left; font-family: 'Montserrat'">
            <a href="/p" style="font-size: 25px; color: #F5F5DC;">Team</a>
        </div>

        <div class="col-md-12" style="text-align: left; font-family: 'Montserrat'">
            <a href="/p" style="font-size: 25px; color: #F5F5DC;">Carrier</a>
        </div>

        <div class="col-md-12" style="text-align: left; font-family: 'Montserrat'">
            <a href="/p" style="font-size: 25px; color: #F5F5DC;">Operation</a>
        </div>
    </div>
</div>

</body>
</html>